[
  {
    "name": "ALAMSYAH.ID",
    "id": "A111ID",
    "expireDate": "2077-01-01T00:00:00"
  },
  {
    "name": "Euis",
    "id": "A000ID",
    "expireDate": "2077-01-01T00:00:00"
  },
  {
    "name": "Otong Pussy Destroyer",
    "id": "A101011100010111111ID",
    "expireDate": "2024-07-01T00:00:00"
  },
  {
    "name": "DICKi",
    "id": "A110010111101100101ID",
    "expireDate": "2024-07-01T00:00:00"
  }
]
